{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block page_content %}
    {% autoescape off %}
        <p>
            {% blocktrans trimmed %}
                You're receiving this e-mail because you or someone
                else has requested a password for your user account.
                It can be safely ignored if you did not request a password reset.
            {% endblocktrans %}
        </p>

        <p>{% trans 'Click the link below to confirm this action.' %}</p>

        <a href="{{ password_reset_url }}" class="text-blue-600 hover:text-blue-700">
            {% trans 'Reset your password' %}
        </a>

        {% if username %}
            <p>
                {% blocktrans trimmed %}
                    In case you forgot, your username is {{ username }}.
                {% endblocktrans %}
            </p>
        {% endif %}
    {% endautoescape %}
{% endblock %}
