{% extends 'layout.html' %}
{% load i18n %}
{% load lambda_core_tags %}

{% block page_title %}
    {% trans 'Settings'|upper %}
{% endblock %}

{% block page_content %}
    <h3 class="text-xl">{% trans 'General' %}</h3>
    <hr class="my-3">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>
        <fieldset class="my-2 flex items-center space-x-2">
            <label for="form-stacked-select">{% trans 'Language' %}</label>
            <select id="form-stacked-select" name="language"
                    class="my-2 px-2 py-2 placeholder-gray-400 text-gray-700 border-gray-400 text-sm border w-full">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                            selected="selected"{% endif %}>
                        {{ lang.1 }} ({{ lang.0 }})
                    </option>
                {% endfor %}
            </select>
        </fieldset>
        <div class="uk-margin">
            {% button color="primary" type="submit" %}
                {% trans 'Save' %}
            {% endbutton %}
        </div>
    </form>
{% endblock %}
