{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load lambda_core_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block side_image %}
    <img src="{% static "lambda_core/svg/undraw/undraw_my_password_d6kg.svg" %}" style="width: 32rem;">
{% endblock %}

{% block page_content %}
    <div class="text-center">
        <h2 class="font-bold text-xl">{% trans "Change Password" %}</h2>
        <p class="mt-4">
            {% trans 'Your password is now changed.' %}
        </p>
        <div class="mt-8">
            {% button class="px-8 py-4" color="primary" href="/" %}
                {% trans 'Continue' %}
            {% endbutton %}
        </div>
    </div>
{% endblock %}