{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load lambda_core_tags %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block page_content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% include 'lambda_theme/tailwindcss/account/snippets/go_back.html' %}
    <h2 class="font-bold text-xl">{% trans "Password Reset" %}</h2>
    <p>
        {% blocktrans trimmed %}
            Forgotten your password? Enter your e-mail address below, and we'll send
            you an e-mail allowing you to reset it.
        {% endblocktrans %}
    </p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {% form_fields form %}
        <div class="mt-4 bg-gray-200">
            {% button color="primary" type="submit" %}
                {% trans 'Submit' %}
            {% endbutton %}
        </div>
    </form>
    <p>
        {% blocktrans trimmed %}
            Please contact us if you have any trouble resetting your password.
        {% endblocktrans %}
    </p>
{% endblock page_content %}
