{% extends 'account/base.html' %}
{% load i18n %}
{% load lambda_core_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block page_content %}
    {% include 'lambda_theme/tailwindcss/account/snippets/go_back.html' %}
    <h2>
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h2>
    {% if token_fail %}
        {% url 'account_reset_password' as password_reset_url %}
        <p>
            {% blocktrans trimmed %}
                The password reset link was invalid, possibly because it has already been used.
                Please request a <a href="{{ password_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {% form_fields form %}
                {% button name="action" type="submit" %}
                    {% trans 'Submit' %}
                {% endbutton %}
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
