{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block side_image %}
    <img src="{% static "lambda_core/svg/undraw/undraw_Opened_re_i38e.svg" %}" style="width: 32rem;">
{% endblock %}

{% block page_content %}
    <div class="text-center">
        <h2 class="font-bold text-xl">{% trans "Verify Your E-mail Address" %}</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="mt-4">
            {% blocktrans trimmed %}
                We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
                process. Please contact us if you do not receive it within a few minutes.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}